{{ define "main" }}
{{ $data := .Data }}
<article class="cf pa3 pa4-m pa4-l">
  <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param " text_color" |
    default "mid-gray" }}">
    {{ .Content }}
  </div>
</article>
<div class="mw8 center">
  <section class="ph4">
    <ul>
      {{ range $key, $term := .Data.Terms.ByCount }}
      <!--<h4 class="f1">-->

      <li class="f2"
        style="width:50%;border:1px;border-style:solid;list-style-type:none;margin:auto;padding: 5px 5px 5px 5px;">
        <a href="{{ $term.Name }}" class="link gray hover-black">
          {{ strings.Title $term.Name }}
          <span style="float:right;">{{ $term.Count }}</span>
        </a>
      </li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}